<div class="container-fluid py-3 px-4">
  <div class="d-flex align-items-center">
    <h1 class="m-2" style="flex: 1">Usuários</h1>
    <!-- <button mat-raised-button color="primary" routerLink="/admin/usuarios/criar">
      <mat-icon>add</mat-icon> Criar usuário
    </button> -->
  </div>

  <mat-divider class="my-2 mb-3"></mat-divider>

  <div class="p-2">
    <div class="row">
      <div class="col-12 col-sm-4 col-lg-3">
        <mat-form-field class="w-100">
          <mat-select [(ngModel)]="selectedFilter" name="filterField" [disabled]="isLoading">
            <mat-option *ngFor="let filterField of filterFields" [value]="filterField">
              {{ filterField.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-8 col-lg-9 d-flex align-items-center">
        <mat-form-field style="flex: 1;" class="mr-2" *ngIf="selectedFilter.name !== 'type'">
          <mat-label>Filtro</mat-label>
          <input matInput type='text' name='filterValue' [(ngModel)]="filterValue" [placeholder]="selectedFilter.label" (keydown.enter)="applyFilter()" [disabled]="isLoading" />
        </mat-form-field>
        <mat-form-field style="flex: 1;" class="mr-2" *ngIf="selectedFilter.name === 'type'">
          <mat-label>Tipo</mat-label>
          <mat-select [(ngModel)]="filterValue" name="selectedType" [disabled]="isLoading">
            <mat-option *ngFor="let type of userTypes" [value]="type.name">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button class="filter-button" (click)="clearFilter()" [disabled]="isLoading">
          <mat-icon>clear</mat-icon>
        </button>
        <button mat-button (click)="applyFilter()" [disabled]="isLoading">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid py-3 px-4 h-100" *ngIf="isLoading">
    <div class="d-flex align-items-center justify-content-center" style="min-height: 100%;">
      <mat-spinner diameter="80"></mat-spinner>
    </div>
  </div>

  <div class="table-container" *ngIf="!isLoading && length === 0">
    <p class="text-center">Nenhum usuário encontrado.</p>
  </div>

  <div class="table-container" *ngIf="!isLoading && length > 0">
    <table mat-table [dataSource]="usersDataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" [matSortActive]="sortField" [matSortDirection]="sortDirection" matSortDisableClear>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Nome </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> E-mail </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <!-- CPF Column -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> CPF </th>
        <td mat-cell *matCellDef="let user"> {{user.cpf}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Status </th>
        <td mat-cell *matCellDef="let user">
          <span *ngIf="!user.emailVerified">Aguardando Confirmação</span>
          <span *ngIf="user.emailVerified && user.isActive">Ativo</span>
          <span *ngIf="user.emailVerified && !user.isActive">Inativo</span>
        </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Tipo </th>
        <td mat-cell *matCellDef="let user">
          <mat-chip-list aria-label="User type label">
            <mat-chip color="accent" *ngIf="user.isAdmin" selected>Admin</mat-chip>
            <mat-chip *ngIf="!user.isAdmin">Participante</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let user">
          <a mat-flat-button [routerLink]="'/admin/usuarios/' + user.uid" class="p-0 m-1" color="primary">
            <mat-icon>preview</mat-icon>
          </a>
          <a mat-flat-button [routerLink]="'/admin/usuarios/' + user.uid + '/editar'" class="p-0 m-1" color="primary">
            <mat-icon>edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <mat-paginator [length]="length" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="paginatorEvent($event)" *ngIf="!isLoading && length > 0"></mat-paginator>

</div>
