<div class="container-fluid p-4 h-100" *ngIf="isLoading">
  <div class="d-flex align-items-center justify-content-center" style="min-height: 100%;">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
</div>

<div class="container p-4" *ngIf="!isLoading">
  <mat-card>
    <mat-card-header class="mb-3 d-flex align-items-center">
      <mat-card-title class="m-0 d-flex align-items-center">
        <a mat-flat-icon routerLink="/admin/usuarios" class="mr-3">
          <mat-icon>chevron_left</mat-icon>
        </a>
        Dados do usuário:
      </mat-card-title>
      <div style="flex: 1;" class="text-right">
        <a mat-flat-button [routerLink]="'/admin/usuarios/' + user.uid + '/editar'" class="mx-1" color="primary">
          <mat-icon>edit</mat-icon> Editar usuário
        </a>
      </div>
    </mat-card-header>

    <hr class="my-3"/>

    <div class="row px-3 py-2">
      <div class="col-12 col-md-6">
        <p>
          <strong>Nome: </strong>{{ user.name }}
        </p>
        <p>
          <strong>E-mail: </strong>{{ user.email }}
        </p>
        <p>
          <strong>Telefone: </strong>{{ user.phone }}
        </p>
        <p>
          <strong>CPF: </strong>{{ user.cpf }}
        </p>        
      </div>

      <div class="col-12 col-md-6">
        <p>
          <strong>Criado em: </strong>{{ user.createdAt?.toDate()?.toLocaleString() }}
        </p>
        <p>
          <strong>E-mail confirmado? </strong>{{ user.emailVerified ? 'Sim' : 'Não' }}
        </p>
        <p>
          <strong>Usuário Ativo? </strong>{{ user.isActive ? 'Sim' : 'Não' }}
        </p>
        <p class="d-flex align-items-center">
          <strong>Tipo: </strong>
          <mat-chip-list aria-label="User type label" class="ml-3">
            <mat-chip class="my-2" color="accent" *ngIf="user.isAdmin" selected>Admin</mat-chip>
            <mat-chip class="my-2" *ngIf="!user.isAdmin">Participante</mat-chip>
          </mat-chip-list>
        </p>
      </div>
    </div>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-header class="mt-2 mb-3 d-flex align-items-center">
      <mat-card-title class='m-0' style="flex: 1;">
        Atividades relacionadas:
      </mat-card-title>
    </mat-card-header>

    <hr class="my-3"/>
  </mat-card>
</div>