<div class="inscritus-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="inscritus-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="isLogged"><mat-icon>menu</mat-icon></button>
    <h1 class="inscritus-app-name ml-3" routerLink="/">Inscritus</h1>
    
    <div style="flex: 1 1 auto;"></div>
    <div>
      <a mat-stroked-button routerLink="/entrar" *ngIf="!isLogged">Entrar</a>
      <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="isLogged">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        
        <div class="p-3">
          <span class="d-block" *ngIf="isLogged && user">
            {{ user.name }}
          </span>
          <span class="d-block" *ngIf="isLogged && user">{{ user.email }}</span>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/minha-conta">
          <mat-icon>portrait</mat-icon> Minha conta
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon> Sair
        </button>
      </mat-menu>
    </div>
    
  </mat-toolbar>

  <mat-sidenav-container class="inscritus-sidenav-container" > <!-- [style.marginTop.px]="mobileQuery.matches ? 56 : 0" -->
    <mat-sidenav #snav 
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" 
      fixedTopGap="56" 
      class="inscritus-sidenav"
      [opened]="isOpened && isLogged"
    >
      <mat-nav-list>
        <div *ngFor="let nav of fillerNav">
          <a mat-list-item  [routerLink]="nav.link" *ngIf="nav.linkType" class="inscritus-nav-item">
            <mat-icon>{{nav.icon}}</mat-icon> {{nav.text}}
          </a>
          <a mat-list-item [href]="nav.link" *ngIf="!nav.linkType" class="inscritus-nav-item">
            <mat-icon>{{nav.icon}}</mat-icon> {{nav.text}}
          </a>
        </div>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>