.colored-box {
  background-color: #ccc;
  border: 1px solid #999;
  border-radius: 0.5em;
  padding: 1em;

  h3 {
    font-weight: 500;
    color: #333;
  }
}

.speaker-badge {
  width: 70px;
  height: 70px;
  border-radius: 0.5em;
}
