<div class="container-fluid py-3 px-4 h-100" *ngIf="isLoading">
  <div class="d-flex align-items-center justify-content-center">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
</div>


<div class="container p-3 h-100" *ngIf="!isLoading">
  <div class="d-flex justify-content-center">
    <mat-card class="p-4" style="width: 100%;">
      <mat-card-header class="mb-3 d-flex align-items-center">
        <mat-card-title class="m-0 d-flex align-items-center">
          <a mat-flat-icon routerLink="/admin/atividades" class="mr-3">
            <mat-icon>chevron_left</mat-icon>
          </a>
          Cadastrar Atividade
        </mat-card-title>
      </mat-card-header>
      
      <hr class="my-3"/>

      <mat-card-content>
        <form [formGroup]="createActivityFormGroup">
          <div class="mx-auto row">

            <div class="col-12 col-md-5 col-lg-4">
              <mat-form-field class="w-100 mt-2" color="primary">
                <mat-label>Tipo de atividade</mat-label>
                <mat-select formControlName="typeCtrl" name="activityType" required>
                  <mat-option *ngFor="let type of types" [value]="type.id" [matTooltip]="type.description">
                    {{ type.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="createActivityFormGroup.controls.typeCtrl.hasError('required')">
                  Tipo de atividade obrigatório
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-12 col-md-7 col-lg-8">
              <mat-form-field class="w-100 mt-2" color="primary">
                <mat-label>Nome da atividade</mat-label>
                <input matInput formControlName="nameCtrl" required>
                <mat-error *ngIf="createActivityFormGroup.controls.nameCtrl.hasError('required')">
                  Nome da atividade obrigatório
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field class="w-100 mt-2" color="primary">
                <mat-label>Descrição</mat-label>
                <textarea matInput matTextareaAutosize [matAutosizeMinRows]="2" [matAutosizeMaxRows]='15' formControlName="descriptionCtrl" required></textarea>
                <mat-error *ngIf="createActivityFormGroup.controls.descriptionCtrl.hasError('required')">
                  Descrição obrigatória
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <mat-form-field class="w-100 mt-2" color="primary">
                <mat-label>Data de início</mat-label>
                <input matInput [matDatepicker]="startPicker" formControlName="startDateCtrl">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <mat-form-field class="w-100 mt-2" color="primary">
                <mat-label>Horário de início</mat-label>
                <input matInput type="time" formControlName="startTimeCtrl">
              </mat-form-field>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-3">
              <mat-form-field class="w-100 mt-2" color="primary">
                <mat-label>Data de fim</mat-label>
                <input matInput [matDatepicker]="endPicker" formControlName="endDateCtrl">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <mat-form-field class="w-100 mt-2" color="primary">
                <mat-label>Horário de fim</mat-label>
                <input matInput type="time" formControlName="endTimeCtrl">
              </mat-form-field>
            </div>

            <div class="col-12 col-sm-6">
              <mat-form-field class="w-100 mt-2" color="primary">
                <mat-label>Capacidade máxima</mat-label>
                <input matInput type="number" formControlName="maxCapacityCtrl">
              </mat-form-field>
            </div>

            <div class="col-12 col-sm-6 d-flex align-items-center">
              <mat-checkbox formControlName="visibleCtrl" color="primary" class="d-flex mt-2">
                <span style="white-space: pre-wrap;">Visível para os usuários</span>
              </mat-checkbox>
            </div>

            <div class="col-12 col-lg-4 d-flex align-items-center">
              <mat-checkbox formControlName="preRegistrationCtrl" color="primary" class="d-flex mt-2" (change)="setRegistrationFields()">
                <span style="white-space: pre-wrap;">Necessita inscrição prévia</span>
              </mat-checkbox>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <mat-form-field class="w-100 mt-2" color="primary">
                <mat-label>Data de abertura da inscrição</mat-label>
                <input matInput [matDatepicker]="registrationPicker" formControlName="registrationDateCtrl">
                <mat-datepicker-toggle matSuffix [for]="registrationPicker"></mat-datepicker-toggle>
                <mat-datepicker #registrationPicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <mat-form-field class="w-100 mt-2" color="primary">
                <mat-label>Horário de abertura da inscrição</mat-label>
                <input matInput type="time" formControlName="registrationTimeCtrl">
              </mat-form-field>
            </div>

            <div class="col-12 colored-box">
              <div class="d-flex align-items-center">
                <h3 class="d-flex align-items-center m-0" style="flex: 1;">Participantes</h3>
                <button type="button" mat-icon-button color="primary">
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <hr />

              <div *ngIf="speakers?.length === 0" class="text-center">
                Nenhum palestrante adicionado
              </div>

              <div *ngIf="speakers?.length >= 0">
                
              </div>
            </div>

            <button type="submit" mat-raised-button color="primary" class="d-block mx-auto mt-4" style="width: 250px;" [disabled]="createActivityFormGroup.invalid" (click)="createActivity()">Criar Atividade</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>