.mat-card-title {
  font-size: 1.4em;
}

.date-label {
  font-size: 0.8em;
  color: #333;
  font-style: italic;
}

.action-button {
  min-width: unset;
  padding: 0 12px;

  mat-icon {
    color: #666;
  }
}
