<div class="container p-3 h-100">
  <div class="d-flex align-items-center justify-content-center" style="min-height: 100%;">
    <mat-card class="px-4 py-5 p-sm-5 mb-3" style="max-width: 500px;">
      <mat-card-content>
        <h2 class="text-center mb-3">Cadastro</h2>

        <form [formGroup]="createUserFormGroup">
          <div class="mx-auto" style="max-width: 340px;">
            <mat-form-field class="w-100 mt-2" color="primary">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="nameCtrl" required>
              <mat-error *ngIf="createUserFormGroup.controls.nameCtrl.hasError('required')">
                Nome obrigatório
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" color="primary">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="emailCtrl" required>
              <mat-error *ngIf="createUserFormGroup.controls.emailCtrl.hasError('required')">
                Email obrigatório
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" color="primary">
              <mat-label>Telefone</mat-label>
              <input matInput formControlName="phoneCtrl" required [textMask]="{mask: MASKS.telefone.textMask}">
              <mat-error *ngIf="createUserFormGroup.controls.phoneCtrl.hasError('required')">
                Telefone obrigatório
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" color="primary">
              <mat-label>CPF</mat-label>
              <input matInput formControlName="cpfCtrl" [textMask]="{mask: MASKS.cpf.textMask}" required>
              <mat-error *ngIf="createUserFormGroup.controls.cpfCtrl.hasError('required')">
                CPF obrigatório
              </mat-error>
              <mat-error *ngIf="createUserFormGroup.controls.cpfCtrl.errors?.cpf">
                CPF inválido.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" color="primary">
              <mat-label>Senha</mat-label>
              <input matInput type="password" formControlName="passwordCtrl" required>
              <mat-error *ngIf="createUserFormGroup.controls.passwordCtrl.hasError('required')">
                Senha obrigatória
              </mat-error>
              <mat-error *ngIf="createUserFormGroup.controls.passwordCtrl.hasError('minlength')">
                Senha deve ter no mínimo 6 caracteres
              </mat-error>
              <mat-error *ngIf="createUserFormGroup.controls.passwordCtrl.hasError('maxlength')">
                Senha deve ter no máximo 128 caracteres
              </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" color="primary">
              <mat-label>Confirmação de Senha</mat-label>
              <input matInput type="password" formControlName="confirmCtrl" required>
              <mat-error *ngIf="createUserFormGroup.controls.confirmCtrl.hasError('required')">
                Confirmação de senha obrigatória
              </mat-error>
              <mat-error *ngIf="createUserFormGroup.controls.confirmCtrl.hasError('minlength')">
                Confirmação de senha deve ter no mínimo 6 caracteres
              </mat-error>
              <mat-error *ngIf="createUserFormGroup.controls.confirmCtrl.hasError('maxlength')">
                Senha deve ter no máximo 128 caracteres
              </mat-error>
              <mat-error *ngIf="createUserFormGroup.controls['confirmCtrl'].hasError('mismatch')">
                Confirmação de senha não confere.
              </mat-error>
            </mat-form-field>
            <mat-checkbox formControlName="termsCtrl" color="primary" class="d-flex my-3" required>
              <span style="white-space: pre-wrap;">Eu li e aceito <span *ngIf="termsOfService.link">os <a [href]="termsOfService.type === 'EXTERNAL' ? termsOfService.link : undefined" [routerLink]="[termsOfService.type === 'ROUTE' ? termsOfService.link : undefined]" target="_blank">Termos de Serviço</a></span><span *ngIf="termsOfService.link && privacyPolicy.link"> e </span><span *ngIf="privacyPolicy.link">a <a [href]="privacyPolicy.type === 'EXTERNAL' ? privacyPolicy.link : undefined" [routerLink]="[privacyPolicy.type === 'ROUTE' ? privacyPolicy.link : undefined]" target="_blank">Política de Privacidade</a></span></span>
            </mat-checkbox>
          </div>

          <button mat-raised-button color="primary" class="d-block mx-auto mt-3" style="width: 150px;" [disabled]="!createUserFormGroup.valid" (click)="createUser()">Criar conta</button>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>
