@import "../../../../variables";

.mat-card-title {
  font-size: 1.4em;
}

.action-button {
  min-width: unset;
  padding: 0 12px;

  mat-icon {
    color: #666;
  }
}

.icon {
  color: #666;
}

.location-badge {
  width: 90px;
  height: 90px;
  border-radius: 0.5em;
}

@media screen and (max-width: map-get($grid-breakpoints, sm)) {
  .location-badge {
    width: 150px;
    height: 150px;
  }
}
