<div class="container-fluid py-3 px-4">
  <div class="d-flex align-items-center">
    <h1 class="m-2" style="flex: 1">Cadastros Auxiliares</h1>
  </div>

  <mat-divider class="my-2 mb-3"></mat-divider>

  <div class="row">
    <div class="col-12 col-md-6 d-flex">
      <mat-card class="p-3 my-2 d-flex flex-column" style="flex: 1">
        <h3 style="font-weight: 500;">Tipos de Atividade</h3>

        <p style="flex: 1">Categorias de atividades visando melhorar a organização e a busca pelas mesmas.</p>

        <div class="text-right">
          <a mat-raised-button color="primary" routerLink='/admin/cadastros-auxiliares/tipos-atividades'>
            Acessar <mat-icon class="ml-2">keyboard_arrow_right</mat-icon>
          </a>
        </div>
      </mat-card>
    </div>

    <div class="col-12 col-md-6 d-flex">
      <mat-card class="p-3 my-2 d-flex flex-column" style="flex: 1">
        <h3 style="font-weight: 500;">Locais</h3>

        <p style="flex: 1">Dados sobre os diferentes locais onde as atividades ocorrerão, facilitando a localização pelos participantes.</p>

        <div class="text-right">
          <a mat-raised-button color="primary" routerLink='/admin/cadastros-auxiliares/locais'>
            Acessar <mat-icon class="ml-2">keyboard_arrow_right</mat-icon>
          </a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
